@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://p.typekit.net/p.css?s=1&k=sin3yas&ht=tk&f=9775.9776.9805.9806.9807.9808.9810.9811.9812.9813.9814.9815.9816.9817.52981.52982.52983.52984.52985.52986&a=21977985&app=typekit&e=css');

@font-face {
  font-family: 'lexia-advertising';
  src: url('https://use.typekit.net/af/3c3ad3/000000000000000077359d7c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia-advertising';
  src: url('https://use.typekit.net/af/bbc27d/000000000000000077359d82/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/042bd3/000000000000000077359d7f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/1c4cee/000000000000000077359d84/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/1da891/000000000000000077359d87/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/85ad1d/000000000000000077359d8b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/97333c/000000000000000077359d8e/30/a?subset_id=2&fvd=n2&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/1be770/000000000000000077359d90/30/a?subset_id=2&fvd=i2&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/aefea0/000000000000000077359d92/30/a?subset_id=2&fvd=n3&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/23da7c/000000000000000077359d94/30/a?subset_id=2&fvd=i3&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/3920d2/000000000000000077359d95/30/a?subset_id=2&fvd=n8&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/ca4208/000000000000000077359d96/30/a?subset_id=2&fvd=i8&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/20b4ac/000000000000000077359d97/30/a?subset_id=2&fvd=n9&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/c69c93/000000000000000077359d98/30/a?subset_id=2&fvd=i9&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/50dd1b/0000000000000000774eca78/30/a?subset_id=2&fvd=i1&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/4aa346/0000000000000000774eca79/30/a?subset_id=2&fvd=n1&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/ce0837/0000000000000000774eca7a/30/a?subset_id=2&fvd=n5&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/cf117f/0000000000000000774eca7b/30/a?subset_id=2&fvd=i5&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/0419ca/0000000000000000774eca7c/30/a?subset_id=2&fvd=n6&v=3')
    format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'lexia';
  src: url('https://use.typekit.net/af/e6f2ae/0000000000000000774eca7d/30/a?subset_id=2&fvd=i6&v=3')
    format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

.tk-lexia-advertising {
  font-family: 'lexia-advertising', serif;
}
.tk-lexia {
  font-family: 'lexia', serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 71.4% 45.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 71.4% 45.9%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-[1px] border-solid border-transparent bg-border bg-clip-padding;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
